/* Large Devices (Desktops & Laptops) */
@media (min-width: 1200px) and (max-width: 1299px) {
    /* Navigation */
    .site-nav-wrapper {
        padding: 0 20px;
    }
}

/* Medium Devices (Landscape Tablets & Medium Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Navigation */
    .site-nav-wrapper {
        padding: 0 30px;
    }
}

/* Small Devices (Portrait Tablets & Small Desktops) */
@media (min-width: 768px) and (max-width: 991px) {
    /* Navigation */
    .site-nav-wrapper {
        padding: 0;
    }
}

/* Extra Small Devices (Landscape Phones & Portrait Tablets) */
@media (max-width: 767px) {
    /* Navigaiton */
    .navbar {
        padding: 20px 0;
    }
    .site-nav-wrapper,
    .white-nav-top {
        padding: 0;
    }
    /* show mobile nav open btn */
    #mobile-nav-open-btn {
        display: block;
    }
}